form {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 20px auto;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    transition: border-color 0.3s;
}

input:focus, textarea:focus {
    border-color: #007bff;
    outline: none;
}